@import "tailwindcss";
@import "./font.css";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  box-sizing: border-box;
}
body {
  margin: 0;
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  padding: 0;
  flex-direction: column;
  overflow-x: hidden;
  font-family: "Proxon", sans-serif;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
.btn-text {
  position: absolute;
  font-weight: var(--chakra-fontWeights-normal);
}
.btn{
display: flex;
  color: var(--chakra-colors-white);
  font-family: PROXON;
  position: relative;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.neon-text {
  text-shadow: 2px 2px 6px rgba(255, 255, 255, 1);
}
.neon-header {
  text-shadow: 1px 1px 6px rgba(255, 255, 255, 1);
}


.text-medium {
  font-family: "VTF Justina GEO", sans-serif;
  font-weight: 500;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, black, #1d151f, #1c151d, #2e2324, #201d20);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #2e2324, #1c151d, #1d151f, black);
}